<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/pages/dashboard']"><mat-icon>dashboard</mat-icon> Dashboard </a>
      <a mat-list-item [routerLink]="['/pages/charts']"><mat-icon>bubble_chart</mat-icon> Charts </a>
      <a mat-list-item [routerLink]="['/pages/usermanagement']"><mat-icon>info</mat-icon> User management </a>
      <a mat-list-item [routerLink]="['/pages/eventemitter']"><mat-icon>compare_arrows</mat-icon> Events </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span> Application </span>
      <span class="example-spacer"></span>
      <button mat-flat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon> {{user}}</button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon></button>
      </mat-menu>
      
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>