<div>
    <mat-card class="Static-chart-card">
        <mat-card-header>
          <mat-card-title>
            Static chart
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="Static-chart-card-content">
            <div id="chartdiv"></div>
        </mat-card-content>
      </mat-card>
</div>

<div>
    <mat-card class="firebase-chart-card">
        <mat-card-header>
          <mat-card-title>
            Firebase chart
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="firebase-chart-card-content">
            <div id="firebaseChartDiv"></div>
        </mat-card-content>
      </mat-card>
</div>